<section id="todos" class="<%= list_class(@list) %>">
  <header>
    <h2><%= @list[:name] %></h2>
    <ul>
      <li>
        <form action="/lists/<%= @list[:id] %>/complete_all" method="post">
          <button type="submit" class="check">Complete All</button>
        </form>
      </li>
      <li><a class="edit" href="/lists/<%= @list[:id] %>/edit">Edit List</a></li>
    </ul>
  </header>
  <ul>
    <% sort_todos(@todos) do |todo, _|%>
    <li class="<%== "complete" if todo[:done] %>">

      <form action="/lists/<%= @list[:id] %>/todos/<%= todo[:id] %>/update" method="post" class="check">
        <input type="hidden" name="completed" value="<%= !todo[:done] %>">
        <button type="submit">Complete</button>
      </form>

      <h3><%= todo[:name] %></h3>
      <form action="/lists/<%= @list[:id] %>/todos/<%= todo[:id] %>/delete" method="post" class="delete">
        <label hidden for="delete">Delete Todo <%= todo[:name] %></label>
        <button type="submit" name="delete" id="delete">Delete Todo</button>
      </form>

    </li>
    <% end %>
  </ul>
</section>

<form action="/lists/<%= @list[:id] %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo_name">Enter a new todo item:</label>
    </dt>
      <dd>
        <input type="text" name="todo_name" id="todo_name" placeholder="A new todo item" value="<%= @todo_name %>">
      </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a href="/lists" class="list">All Lists</a>
<% end %>
